# Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Cache files
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec

# Logs and database files
*.log
*.sqlite3
*.db

# Environment variables and config
.env
*.env
.env.*

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
*.cover
*.py,cover
.cache

# IDE and editor files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store
Thumbs.db
