.content-board-lab {
    background-color: white;
    border-radius: 12px;
    padding: 30px;
    margin: 10px 25px 15px 25px;
    /* Top, Right, Bottom, Left */
    border: 2px solid #D4D4D4;
    /* Border thickness */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    /* Inset shadow for depth */
    overflow-y: auto;
    /* Allows scrolling when content overflows vertically */
    box-sizing: border-box;
    /* Include padding in width and height calculation */
    height: 86%;
    /* Adjust automatically based on content */
}

.lab-topic {
    font-size: 30px;
    /* Adjust this value as needed */
    font-weight: 600;
    /* Thin font weight */
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
}




.lab-board-container {
    height: 90%;
    /* border: 1px solid lightgrey; */
    padding: 10px;
    overflow-y: auto;
    /* Enables vertical scrolling when content overflows */
    overflow-x: hidden;
    /* Prevents horizontal scrolling */
}

.lab-board {
    background-color: white;
    border-radius: 12px;
    padding: 2px 50px;
    overflow-y: auto;
    /* Allows scrolling when content overflows vertically */
}

.lab-item {
    background: linear-gradient(rgb(254, 202, 247), rgb(234, 244, 201));
    border-radius: 12px;
    padding: 20px 30px;
    border: 2px solid #D4D4D4;
    /* Border thickness */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    /* Inset shadow for depth */
    overflow-y: auto;
    /* Allows scrolling when content overflows vertically */
    font-weight: 525px;
    /* Thin font weight */
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    width: 100%;
}







.lab-content {
    border: solid 2px lightgrey;
    border-radius: 8px;
    margin: 0 10px 0 10px;
    height: 400px;
    padding: 10px;
}






.host-name-lab {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.dropdown-select-lab {
    border-radius: 20px;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 14px;
}


.description-container {
    height: 90%;
    display: left;
    width: 100%;
    /* border: solid 2px blue; */
}

.description-section {
    /* border: solid 2px red; */
    padding: 5px;
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 100%;
    /* Adjust height as needed */
}

.input-description {
    margin-top: 10px;
    flex-grow: 1;
    /* Allows it to take up remaining space */
    display: flex;
    /* Ensures textarea can stretch */
}

.description-input {
    width: 100%;
    height: 100%;
    /* Makes textarea fill the full height */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: #ebebeb;
    resize: none;
    /* Prevent resizing if you want fixed height */
}



.expect-container {
    height: 90%;
    display: flex;
    width: 100%;
    /* border: solid 2px blue; */
    padding: 2px;
    justify-content: space-evenly;
}

.expect-section {
    /* border: solid 2px red; */
    padding: 5px;
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 100%;
    /* Adjust height as needed */
}

.input-lab {
    margin-top: 10px;
    flex-grow: 1;
    /* Allows it to take up remaining space */
    display: flex;
    /* Ensures textarea can stretch */
}

.expect-input {
    width: 100%;
    height: 100%;
    /* Makes textarea fill the full height */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: #ebebeb;
    resize: none;
    /* Prevent resizing if you want fixed height */
}






.container-lab {
    padding: 20px;
    border: 1px solid #ddd;
    margin: 16px 80px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background: #fff;
}

.header-lab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.title-lab {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

.buttonContainer-lab {
    display: flex;
    gap: 10px;
    align-items: center;
}

.addButton-lab {
    font-size: 18px;
    display: flex;
    align-items: center;
    background: linear-gradient(135deg, #47afff, #a1fda5);
    border: none;
    padding: 8px 15px;
    border-radius: 22px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.addButton-lab:hover {
    background: linear-gradient(135deg, #3d9ce4, #7fea86);
    transform: scale(1.02);
}

.noLabs-lab {
    text-align: center;
    color: #888;
}

.labList-lab {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 60%;
}

.labItem-lab {
    margin-bottom: 10px;
    padding: 10px 20px;
    border: 1px solid #fedef3;
    border-radius: 10px;
    background: linear-gradient(50deg, #0a007d, hsl(320, 100%, 61%));
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    font-size: 22px;
    box-shadow: 0 8px 8px rgba(251, 36, 168, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.labItem-lab:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
  }

.labInfo-lab .labName-lab {
    color: #ffffff;
}

.labInfo-lab .labDescription-lab {
    margin-left: 8px;
    color: #ebebeb;
}

.labActions-lab button {
    margin-left: 10px;
    padding: 5px 8px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s ease;
}

.editButton-lab {
    background: #2196F3;
}

.editButton-lab:hover {
    background: #1976d2;
}

.deleteButton-lab {
    background: #f44336;
}

.deleteButton-lab:hover {
    background: #d32f2f;
}

.checkButton-lab {
    background: #ff9800;
}

.checkButton-lab:hover {
    background: #fb8c00;
}









.cancel-btn-lab {
    background: linear-gradient(90deg, #a6a6a6, #a39b98);
    border-radius: 20px;
    border: none;
    color: white;
    padding: 5px 16px;
    font-size: 16px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cancel-btn-lab:hover {
    transform: translateY(-2px);
    background: linear-gradient(90deg, #8a8a8a, #8a8a8a);
    transform: scale(1.05);
}

.delete-btn-lab {
    background-color: #e74c3c;
    border-radius: 20px;
    border: none;
    color: white;
    padding: 5px 16px;
    font-size: 16px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.delete-btn-lab:hover {
    background-color: #c0392b;
    transform: scale(1.05);
}

.green-round-lab {
    padding: 5px 16px;
    font-size: 16px;
    background-color: #05dab6;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.green-round-lab:hover {
    background-color: #36bea8;
    transform: scale(1.05);
}

.green-round-lab:focus {
    outline: none;
    box-shadow: 0 0 0 2px #e0e0e0;
}

.add-btn-lab {
    background-color: #e6e6e6;
    border-radius: 20px;
    border: none;
    color: rgb(51, 51, 51);
    padding: 5px 16px;
    font-size: 14px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.add-btn-lab:hover {
    transform: translateY(-2px);
    background-color: #c4c4c4;
    color: rgb(255, 255, 255);
    transform: scale(1.05);
}

.add-device-lab {
    background-color: #afd9e0;
    border-radius: 20px;
    border: 1px solid #e6e6e6;
    color: rgb(51, 51, 51);
    padding: 4px 12px;
    margin: 10px;
    font-size: 14px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.add-device-lab:hover {
    transform: translateY(-2px);
    transform: scale(1.03);
}

.edit-btn-lab {
    background-color: #e0e2ac;
    border-radius: 20px;
    border: 1px solid #e6e6e6;
    color: rgb(51, 51, 51);
    padding: 4px 12px;
    margin: 5px;
    font-size: 14px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.edit-btn-lab:hover {
    transform: translateY(-2px);
    transform: scale(1.03);
}









.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 150px;
    height: 90%;
}

.spinner-lab {
    border: 7px solid #f3f3f3;
    /* Light grey */
    border-top: 7px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
    margin-bottom: 20px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}






@keyframes showPopup {
    from {
        transform: scale(0.8);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.popup-content-lab {
    background-color: #fff;
    padding: 25px 20px 25px 25px;
    border-radius: 8px;
    height: 92%;
    width: 70%;
    min-width: 600px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    animation: showPopup 0.3s ease forwards;
    gap: 15px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #c3c3c3 #f1f1f1;
  }
  
  /* For WebKit browsers: Set the scrollbar’s default opacity to 0 */
  .popup-content-lab::-webkit-scrollbar {
    width: 8px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* On hover, show the scrollbar */
  .popup-content-lab:hover::-webkit-scrollbar {
    opacity: 1;
  }
  
  .popup-content-lab::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 8px;
  }
  
  .popup-content-lab::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
    border: 2px solid transparent;
    background-clip: padding-box;
  }
  
  .popup-content-lab::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  


.commands-wrapper {
    display: flex;
    flex-direction: column;
    height: 410px;
}


.command-add-lab {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin: 3px 0;
    padding: 10px 0;
    scrollbar-width: thin;
    scrollbar-color: #c3c3c3 #f1f1f1;
  }
  
  /* For WebKit browsers */
  .command-add-lab::-webkit-scrollbar {
    width: 8px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .command-add-lab:hover::-webkit-scrollbar {
    opacity: 1;
  }
  
  .command-add-lab::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 8px;
  }
  
  .command-add-lab::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
    border: 2px solid transparent;
    background-clip: padding-box;
  }
  
  .command-add-lab::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  



.dropdown-lab {
    display: flex;
    justify-content: space-between;
}