.content-align-rt-rt{
    width: 100%;
    gap: 10px;
}
  
.host-section-rt-rt {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 100%;
    justify-content: center; /* Align horizontally to the center */
}

  



.ip-subnet-group{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}





.connect-pic-rt-rt{
    width: 33%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}





.protocol-card{
    margin-top: 50px;
    width: 60%;
    display: flex; /* Enable flexbox layout */
    flex-direction: row; /* Ensure items are stacked vertically */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    background: #ebf2f9;
    padding: 16px;
    border-radius: 12px;
    border: 2px solid #aad3f0;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-in-out;
    animation: spreadFromCenter 0.2s ease; /* Apply the animation */
    transform-origin: center;
}

.line-vertical-rt-rt{
    height: 340px; /* Add a unit like px to define a valid height */
    width: 2px;
    background-color: #aad3f0; /* Adjust the color to your preference */
    border-radius: 20px;
    margin: 0 30px;
}

.protocal-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; /* optional, to make sure the content is centered in the viewport */
}

.static-route-section{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.error-rt-rt{
    margin-top: 5px;
    margin-right: 5px;
    color: rgb(255, 0, 0);
    font-size: 22px;
    font-weight: 500;
    text-align: center;
}

/* CSS FOR COMPARISON POPUP */
.scrollable-comparison-content {
    max-height: 70vh; /* Adjust this value as needed */
    overflow-y: auto;
    padding-right: 8px; /* Optional: add some padding so the scrollbar doesn’t overlap your content */
  }